@import url('https://fonts.googleapis.com/css?family=Questrial');

$white: #fff;
$blue: #71ccd5;
$dark-grey: #888;
$grey: #bbb;
$light-grey: #dfdfdf;

body, html{
    background: #fff;
    font-family: 'Questrial', sans-serif;
    height: 100%;
}

.header{
    height: 100%;
    background: url(/files/img/bg-header.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center; 
    background-position: center;
    .header__search-area{
        position: absolute;
        top: 35%;
        right: 0;
        left: 0;
        margin: auto;
        .header__msg{
            color: rgb(25, 101, 148);
            font-weight: bold;
        }
        .header__title{
            margin: 10px 0 20px 0;
            text-align: center;
            font-size: 4em;
            color: rgb(25, 101, 148);
        }
        .header__btn{
            background: #205D95;
            padding: 10px 15px;
            color: #fff;
            border: navajowhite;
            border-radius: 3px;
            font-weight: bold;
            transition: .3s ease;
            &:hover{
                background: rgb(58, 113, 165);
                box-shadow: 1px 1px 5px #333;
            }
        }
    }
}

.tags-input{
  width: 50%;
  margin: 0 auto 20px auto;
  border: 2px solid $light-grey;
  border-radius: 40px;
  height: 40px;
  padding: 0 11px;
  font-size: 14px;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: $dark-grey;
  background: #fff;
  span{
    background: $grey;
    margin-right: 7px;
    color: $white;
    padding: 4px 7px;
    border-radius: 20px;
    &[data-selected]{
      background: $blue;
    }
  &::after{
    content: '';
    background: $dark-grey;
    width: 1px;
    height: 19px;
    margin: -1px 0 0 -1px;
    display: none;
    animation: blink 0.5s infinite alternate;
}
  &:focus{
    border-color: $blue;
    outline: none;
    &[data-cursor]::after{
      display: block;
      @media screen and (max-width: 736px){
        display: none;
        }
    }
    
    }
  }
}