.section{
    .section__title{
        font-size: 2em;
        margin: 75px 0 20px 0;
    }
    .how-works{
        margin: 20px 0;
        text-align: center;
        .how-works__icon{
            font-size: 6em;
            margin: 15px;
        }
        .how-works__main-title{
            font-size: 1.3em;
            font-weight: bold;
        }
    }
    .phase-01{
        margin-top: 50px;
        overflow: hidden;
        .how-works__item{
            float: left;
            margin: 0 50px;
            &:nth-child(2){
                float: right;
            }
        }
    }
    .phase-02{
        margin-top: 50px;
        overflow: hidden;
        .how-works__main-title{
            margin-bottom: 30px;
        }
        .clinical{
            width: 20%;
            float: left;
            margin-right: 6.6%;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .section__video{
        margin: 20px 0;
        width: 100%;
        
    }
}