<header class="header">
    <div class="header__search-area">
        <h1 class="header__title">ConnectionTrial</h1>
        <input class="header__input" type="text" placeholder="Digite o nome da doença">
        <button class="header__btn" type="submmit">Procurar</button>
    </div>
</header>

<section class="section">
    <div class="centralizer">
        <article class="section__article">
            <h2 class="section__title">O que é um estudo clínico?</h2>
            <p>Lorem ipsum velit nibh gravida curae rhoncus nisl pulvinar ultrices morbi fermentum integer praesent dapibus
            </p>
        </article>
    </div>
</section>

<section class="section">
    <div class="centralizer">
        <article class="section__article">
            <h2 class="section__title">Como funciona um estudo clínico</h2>
            <ul class="how-works phase-01">
                <li class="how-works__item">
                    <span class="how-works__number">1.</span>
                    <h3 class="how-works__title">Desenvolvimento</h3>
                    <p class="how-works__description">Desenvolve a molécula e estuda suas propriedades</p>
                </li>
            </ul>
            <ul class="how-works phase-02">
                <li class="how-works__item">
                    <h3 class="how-works__title">Pré-clínico</h3>
                    <span class="how-works__number">2.</span>
                    <p class="how-works__description">Realizado em animais, meio e cultura e in silico</p>
                </li>
            </ul>
            <ul class="how-works phase-03">
                <li class="how-works__item">
                    <span class="how-works__number">3.</span>
                    <h3 class="how-works__title">Clínico</h3>
                </li>
                <li class="how-works__item clinical">
                    <span class="how-works__number">3.1</span>
                    <h3 class="how-works__title">Fase I</h3>
                    <p class="how-works__description">Pequeno grupo saudável. Verificar dosagem e efeitos colaterais</p>
                </li>
                <li class="how-works__item clinical">
                    <span class="how-works__number">3.2</span>
                    <h3 class="how-works__title">Fase II</h3>
                    <p class="how-works__description">Grupo com cerca de 100 pessoas, saudáveis e doentes. Segurança do produto e verificar a dose de eficácia</p>
                </li>
                <li class="how-works__item clinical">
                    <span class="how-works__number">3.3</span>
                    <h3 class="how-works__title">Fase III</h3>
                    <p class="how-works__description">Grupo com mais de 800 pessoas, maioria doentes. Verificar eficácia, via de administração e associações com outros medicamentos</p>
                </li>
                <li class="how-works__item clinical">
                    <span class="how-works__number">3.3</span>
                    <h3 class="how-works__title">Fase IV</h3>
                    <p class="how-works__description">Comercialização. Estudos de vigilância</p>
                </li>
            </ul>
        </article>
    </div>
</section>

<section class="section">
    
</section>